.nav{
    background-color: #212741;
}
#basic-nav-dropdown{
    background-color: #212741;
    color: #fff;
    font-weight: bold;
}
.NavDropdown.Item{
    color: #212741;
    font-weight: bold;
}
.nav img{
    vertical-align: middle;
    width: 150px;
    filter: none;
}
.text-white{
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.text-white:hover{
    color: #FF511A !important;
}
